<div style="text-align: center;">
    <p>CHART FOR BVP</p>
</div>
<div >
    <canvas style="height: 250px; width: 50%;" id="canvas">{{ chartBVP }}</canvas>
</div>

<div style="text-align: center;">
    <p>CHART FOR HR</p>
</div>
<div >
    <canvas style="height: 250px; width: 50%;"  id="canvas1">{{ chartHR }}</canvas>
</div>

<div style="text-align: center;">
    <p>CHART FOR TEMP</p>
</div>
<div >
    <canvas style="height: 250px; width: 50%;"  id="canvas2">{{ chartTEMP }}</canvas>
</div>

<div style="text-align: center;">
    <p>CHART FOR EDA</p>
</div>
<div >
    <canvas style="height: 250px; width: 50%;"  id="canvas3">{{ chartEDA }}</canvas>
</div>

<div style="text-align: center;">
    <p>CHART FOR ALL</p>
</div>
<div >
    <canvas style="height: 250px; width: 50%;"  id="canvas4">{{ chartAll }}</canvas>
</div>

